$main-container: $teal;
$light-container: lighten($teal, 30%);
$dark-container: darken($teal, 30%);

.containers {
  .container {
    @extend ._card;

    .radiogroup {
      margin: 1rem 0;
      text-align: left;

      p, input {
        display: inline-block;
        vertical-align: middle;
      }

      input {
        @include radio-button($main-container);
      }

      p {
        margin: .5rem .5rem .5rem 1rem;
      }
    }

    .listview {
      @include badge($main-container, $light-container);

      text-align: left;
      margin: 1rem 0;
    }

    .gridview {
      width: (100px + 2*10px + 5px);

      .element {
        width: 50px;
        height: 50px;
        margin: 5px;
        display: inline-block;

        @include rectangle-radius();

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            background-color: lighten($main-container, 40% - ($i*10%));
          }
        }
      }
    }

    .expandablelistview {
        width: 125px;
        display: inline-block;

        input {
        width: 125px;
        height: 50px;
        margin: .5rem 0;

        @include appearance(none);
        cursor: pointer;
        background-color: $teal;
        @include rectangle-radius();
        outline: none;

        @include transition(height .5s ease);

        &:active, &:checked {
          height: 25px;
        }
      }
    }

    .scrollview {
      position: relative;

      width: 200px;
      height: 150px;
      overflow: hidden;

      .element {
        position: absolute;

        @include rectangle-radius();

        @include transition(top .5s ease);

        &:first-child {
          top: 0px;
          right: 0px;
          width: 10px;
          height: 50px;

          background-color: $main-container;
        }

        &:not(:first-child) {
          background-color: $light-container;
        }

        &:nth-child(2) {
          top: 0px;

          width: 75px;
          height: 50px;
        }

        &:nth-child(3) {
          top: (50px + 10px);

          width: 150px;
          height: 100px;
        }

        &:nth-child(4) {
          top: ((50px + 10px) + 100px + 10px);

          width: 100px;
          height: 50px;
        }
      }

      &:hover {
        .element {
          &:nth-child(1) {
            top: 100px;
          }

          &:nth-child(2) {
            top: -70px;
          }

          &:nth-child(3) {
            top: ((50px + 10px) - 70px);
          }

          &:nth-child(4) {
            top: 100px;
          }
        }
      }
    }

    .horizontalscrollview {
      position: relative;

      width: 150px;
      height: 200px;
      overflow: hidden;

      .element {
        position: absolute;

        @include rectangle-radius();

        @include transition(left .5s ease);

        &:first-child {
          bottom: 0px;
          left: 0px;
          width: 50px;
          height: 10px;

          background-color: $main-container;
        }

        &:not(:first-child) {
          background-color: $light-container;
        }

        &:nth-child(2) {
          left: 0px;

          width: 50px;
          height: 75px;
        }

        &:nth-child(3) {
          left: (50px + 10px);

          width: 100px;
          height: 150px;
        }

        &:nth-child(4) {
          left: ((50px + 10px) + 100px + 10px);

          width: 50px;
          height: 100px;
        }
      }

      &:hover {
        .element {
          &:nth-child(1) {
            left: 100px;
          }

          &:nth-child(2) {
            left: -70px;
          }

          &:nth-child(3) {
            left: ((50px + 10px) - 70px);
          }

          &:nth-child(4) {
            left: 100px;
          }
        }
      }
    }

    .tabhost {
      input {
        @include tab($main-container, $light-container);
      }

      .layout {
        width: 100%;
        height: 100px;
        margin-top: 10px;

        background-color: $light-container;
      }
    }

    .webview {
      width: 150px;
      height: 150px;

      border: 3px solid $main-container;
      background: {
        image: url('web.png');
        repeat: no-repeat;
        position: center;
        size: 48px 48px;
      }
    }

    .searchview {
      border: 2px solid $main-container;

      input, button {
        padding: .5rem;
        font-size: 1rem;
      }

      input {
        color: $black;

        @include appearance(none);
        border: none;
        outline: none;
        background-color: transparent;

        @include transition(background-color .5s ease);

        &:active, &:focus {
          background-color: $light-container;
        }
      }

      button {
        margin-left: -5px;

        color: $white;

        @include appearance(none);
        border: none;
        outline: none;
        cursor: pointer;
        background-color: $main-container;

        &:active {
          background-color: $dark-container;
        }
      }
    }

    .toolbar {
      padding: .5rem 1rem;

      text-align: left;

      background-color: $main-container;

      button, p {
        display: inline-block;
        vertical-align: top;
      }

      button {
        width: 20px;
        height: 20px;

        @include appearance(none);
        outline: none;
        border: none;
        background-color: $white;
        cursor: pointer;

        &:active {
          opacity: .5;
        }
      }

      p {
        margin: 0 2rem;
        padding: 0;

        color: $white;
        font-weight: bold;
      }
    }
  }
}
