$main-container: $teal;
$light-container: lighten($teal, 30%);

.containers {
  .container {
    @extend ._card;

    .radiogroup {
      margin: 1rem 0;
      text-align: left;

      p, input {
        display: inline-block;
        vertical-align: middle;
      }

      input {
        @include radio-button($main-container);
      }

      p {
        margin: .5rem .5rem .5rem 1rem;
      }
    }

    .listview {
      @include badge($main-container, $light-container);

      text-align: left;
      margin: 1rem 0;
    }
  }
}
