$main-date: $orange;
$light-date: lighten($orange, 20%);
$dark-date: darken($orange, 30%);

.dates {
  .date {
    @extend ._card;

    .timepicker {
      position: relative;

      width: 200px;
      height: 200px;

      > * {
        position: absolute;
      }

      .circle, .noon, .three, .six, .nine, .selected {
        @include circle-radius();
      }

      .circle {
        width: 200px;
        height: 200px;

        background-color: $light-date;
        z-index: 1;
      }

      .noon, .three, .six, .nine {
        width: 30px;
        height: 30px;

        background-color: $main-date;
        z-index: 2;
      }

      .noon {
        top: 5px;
        left: ((200px - 30px) / 2);
      }

      .three {
        right: 5px;
        top: ((200px - 30px) / 2);
      }

      .six {
        bottom: 5px;
        left: ((200px - 30px) / 2);
      }

      .nine {
        top: ((200px - 30px) / 2);
        left: 5px;
      }

      .hand, .selected {
        z-index: 3;
        background-color: $dark-date;
      }

      .hand {
        top: 105px;
        left: 92.5px;

        width: (200px / 2);
        height: 5px;

        @include rectangle-radius();
        @include transform(rotate(-45deg));
        @include transform-origin(left);

        @include transition(transform .5s ease);
      }

      .selected {
        top: 30px;
        right: 30px;

        width: 30px;
        height: 30px;

        @include transform-origin(-39px 74px);

        @include transition(transform .5s ease);
      }

      &:hover {
        .hand {
          @include transform(rotate(15deg));
        }

        .selected {
          @include transform(rotate(65deg));
        }
      }
    }

    .datepicker {
      border: 5px solid $main-date;

      p {
        margin: 0;
      }

      .up, .down {
        padding: .5rem;

        font-size: 1rem;
        text-align: center;
        color: $white;

        background-color: $main-date;
      }

      .picker {
        padding: .5rem;

        font-size: 2rem;
        color: $black;
      }
    }

    .calendarview {
      border-collapse: collapse;

      th, td {
        padding: .5rem 1rem;

        font-size: 1rem;
      }

      thead {
        background-color: $main-date;

        th {
          color: $white;
          font-weight: bold;
        }
      }

      tbody {
        tr:not(:last-child) {
          border-bottom: 1px solid $light-grey;
        }

        td {
          color: $black;
        }

        .selected {
          font-weight: bold;
          color: $white;

          background-color: $dark-date;
        }
      }
    }

    .chronometer {
      width: 150px;
      height: 150px;
      @include display(flex);
      @include justify-content(center);
      @include flex-direction(column);

      border: 3px solid $main-date;
      @include circle-radius();

      p {
        font-size: 2rem;
        color: $black;
        text-align: center;
      }
    }

    .textclock {
      padding: .5rem 1rem;

      font-size: 1rem;
      color: $black;

      border: 2px solid $main-date;
    }
  }
}
