header {
  color: $white;
  background-color: $purple;
}

section {
  h3 {
    margin: 1rem 0;

    color: $grey;

    &:first-child {
      margin-top: 0rem;
    }
  }
}

._card {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 3rem;
  vertical-align: top;

  text-align: center;

  box-shadow: 0 0 5px 0 $grey;

  h4 {
    margin: 0 0 1rem 0;
  }

  *:nth-child(2) {
    margin: 0;
  }
}

@mixin button($main, $dark) {
  padding: 1rem;

  color: $white;
  font-size: 1rem;

  @include appearance(none);
  outline: none;
  background-color: $main;
  border-radius: 5px;
  border: none;
  border-bottom: 4px solid $dark;

  &:active {
    background-color: $dark;
    border-bottom-color: $main;
  }
}
