$main-transition: $green;
$light-transition: lighten($green, 20%);
$dark-transition: darken($green, 20%);

.transitions .transition {
  @extend ._card;

  .imageswitcher {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;

    border: 2px solid $main-transition;

    .circle, .triangle {
      position: absolute;

      @include transition(left 1s ease);
    }

    .circle, .triangle {
      top: ((100px - 50px) / 2);
    }

    .circle {
      left: ((100px - 50px) / 2);

      width: 50px;
      height: 50px;

      border-radius: 50%;
      background-color: $light-transition;
    }

    .triangle {
      left: -50px;

      width: 0px;
      height: 0px;

      border: {
        left: 25px solid transparent;
        right: 25px solid transparent;
        bottom: 43.3px solid $light-transition;
      }
    }

    &:hover {
      .circle {
        left: 100px;
      }

      .triangle {
        left: ((100px - 50px) / 2);
      }
    }
  }

  .adapterviewflipper {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;

    border: 2px solid $main-transition;

    p {
      position: absolute;
      width: 100px;

      font-size: 1.5rem;
      color: $black;
      text-align: center;

      @include transition(left 1s ease);

      &:first-child {
        left: 0px;
      }

      &:last-child {
        left: 100px;
      }
    }

    &:hover p {
      &:first-child {
        left: -100px;
      }

      &:last-child {
        left: 0px;
      }
    }
  }

  .stackview {
    position: relative;
    width: (50px + 150px);
    height: (30px + 100px);
    overflow: hidden;

    .element {
      position: absolute;

      width: 150px;
      height: 100px;

      border-radius: 10px;

      &:nth-child(1) {
        background-color: $light-transition;
        z-index: 1;
      }

      &:nth-child(2) {
        top: 15px;
        left: 25px;

        background-color: $main-transition;
        z-index: 2;
      }

      &:nth-child(3) {
        top: 30px;
        left: 50px;

        background-color: $dark-transition;
        z-index: 3;

        @include transition(top .5s ease);
      }
    }

    &:hover {
      .element:nth-child(3) {
        top: (30px + 100px);
      }
    }
  }
}
