$main-transition: $green;
$light-transition: lighten($green, 20%);
$dark-transition: darken($green, 20%);

.transitions .note {
  font-size: 1rem;
}

.transitions .transition {
  @extend ._card;

  .imageswitcher {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;

    border: 2px solid $main-transition;

    .circle, .triangle {
      position: absolute;

      @include transition(left 1s ease);
    }

    .circle, .triangle {
      top: ((100px - 50px) / 2);
    }

    .circle {
      left: ((100px - 50px) / 2);

      width: 50px;
      height: 50px;

      border-radius: 50%;
      background-color: $light-transition;
    }

    .triangle {
      left: -50px;

      width: 0px;
      height: 0px;

      border: {
        left: 25px solid transparent;
        right: 25px solid transparent;
        bottom: 43.3px solid $light-transition;
      }
    }

    &:hover {
      .circle {
        left: 100px;
      }

      .triangle {
        left: ((100px - 50px) / 2);
      }
    }
  }

  .adapterviewflipper {
    position: relative;
    width: 250px;
    height: 175px;
    overflow: hidden;

    border: 2px solid $main-transition;

    .layout {
      position: absolute;
      width: 250px;

      @include transition(top 1s ease);

      &:first-child {
        top: 0px;

        .element {

          &:nth-child(1) {
            top: 10px;
            left: 10px;
            width: 150px;
            height: 50px;
          }

          &:nth-child(2) {
            top: (50px + 10px + 10px);
            left: 10px;

            width: 100px;
            height: 50px;
          }

          &:nth-child(3) {
            top: (10px + 50px + 10px);
            left: (10px + 100px + 10px);

            width: 100px;
            height: 50px;
          }
        }
      }

      &:last-child {
        top: -175px;

        .element {
          &:first-child {
            top: 10px;
            right: 10px;

            width: 125px;
            height: 75px;
          }

          &:last-child {
            top: (10px + 75px + 10px);
            right: 10px;

            width: 200px;
            height: 25px;
          }
        }
      }

      .element {
        position: absolute;

        border-radius: 10px;
        background-color: $light-transition;
      }
    }

    &:hover .layout {
      &:first-child {
        top: 225px;
      }

      &:last-child {
        top: 0px;
      }
    }
  }

  .stackview {
    position: relative;
    width: (50px + 150px);
    height: (30px + 100px);
    overflow: hidden;

    .element {
      position: absolute;

      width: 150px;
      height: 100px;

      border-radius: 10px;

      &:nth-child(1) {
        background-color: $light-transition;
        z-index: 1;
      }

      &:nth-child(2) {
        top: 15px;
        left: 25px;

        background-color: $main-transition;
        z-index: 2;
      }

      &:nth-child(3) {
        top: 30px;
        left: 50px;

        background-color: $dark-transition;
        z-index: 3;

        @include transition(top .5s ease);
      }
    }

    &:hover {
      .element:nth-child(3) {
        top: (30px + 100px);
      }
    }
  }

  .textswitcher {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;

    border: 2px solid $main-transition;

    p {
      position: absolute;
      width: 100px;

      font-size: 1.5rem;
      color: $black;
      text-align: center;

      @include transition(left 1s ease);

      &:first-child {
        left: 0px;
      }

      &:last-child {
        left: 100px;
      }
    }

    &:hover p {
      &:first-child {
        left: -100px;
      }

      &:last-child {
        left: 0px;
      }
    }
  }
}
