$main-widget: $blue;
$light-widget: lighten($main-widget, 50%);
$dark-widget: darken($main-widget, 30%);

.widgets {
  .widget {
    @extend ._element;

    *:nth-child(2) {
      margin: 0;
    }
  }

  .textview {
    padding: 1rem;

    color: $black;

    background-color: $light-widget;
  }

  .button {
    padding: 1rem;

    color: $white;

    cursor: pointer;
    background-color: $main-widget;
    border-radius: 5px;
    border-bottom: 4px solid $dark-widget;

    &:active {
      background-color: $dark-widget;
      border-bottom-color: $main-widget;
    }
  }

  .togglebutton {
    width: 50px;
    height: 50px;

    cursor: pointer;
    border-radius: 50%;
    @include appearance(initial);
    outline: none;
    background-color: $white;
    border: 5px solid $main-widget;

    &:checked, &:active {
      background-color: $dark-widget;
      border-color: $light-widget;
    }
  }

  .checkbox {
    width: 30px;
    height: 30px;

    cursor: pointer;
    border-radius: 5px;
    @include appearance(initial);
    outline: none;
    background-color: $white;
    border: 3px solid $main-widget;

    &:checked, &:active {
      background-color: $light-widget;
    }
  }

  .radiobutton {
    width: 30px;
    height: 30px;

    cursor: pointer;
    border-radius: 50%;
    @include appearance(initial);
    outline: none;
    background-color: $white;
    border: 4px solid $white;
    box-shadow: 0 0 0 4px $main-widget;

    &:checked, &:active {
      background-color: $main-widget;
      border-color: $white;
      box-shadow: 0 0 0 4px $main-widget;
    }
  }

  .checkedtextview {
    @extend .textview;

    label, input {
      display: inline-block;
      vertical-align: middle;
    }

    label {
      margin: 0 10px 0 0;
    }
  }
}
