section.containers
  h3 Containers
  
  .container
    h4 RadioGroup
    
    .radiogroup
      input(type='radio', name='radiogroup')
      p Realm
    .radiogroup
      input(type='radio', name='radiogroup')
      p Room
    .radiogroup
      input(type='radio', name='radiogroup')
      p SQLite
