section.containers
  h3 Containers
  
  .container
    +card_header('RadioGroup')
    
    .radiogroup
      input(type='radio', name='radiogroup', checked)
      p Realm
    .radiogroup
      input(type='radio', name='radiogroup')
      p Room
    .radiogroup
      input(type='radio', name='radiogroup')
      p SQLite
      
  .container
    +card_header('ListView')
    
    .listview
      img(src='avatar-teal-1.png', width='24px', height='24px')
      p Ben Christensen
      
    .listview
      img(src='avatar-teal-2.png', width='24px', height='24px')
      p Donn Felker
      
    .listview
      img(src='avatar-teal-3.png', width='24px', height='24px')
      p Dan Lew
      
  .container
    +card_header('GridView')
    
    .gridview
      .element
      .element
      .element
      .element

  .container
    +card_header('ExpandableListView')
    
    .expandablelistview
      input(type='checkbox', checked)
      input(type='checkbox')
      input(type='checkbox')
        
  .container
    +card_header('ScrollView')
    
    .scrollview
      .element
      .element
      .element
      .element
        
  .container
    +card_header('HorizontalScrollView')
    
    .horizontalscrollview
      .element
      .element
      .element
      .element
        
  .container
    +card_header('TabHost')
    
    .tabhost
      input(type='radio', name='tabhost')
      input(type='radio', name='tabhost')
      input(type='radio', name='tabhost', checked)
      
      .layout
      
  .container
    +card_header('WebView')
    
    .webview
      
  .container
    +card_header('SearchView')
    
    .searchview
      input(type='text', placeholder='Waldo')
      button Search
      
  .container
    +card_header('Toolbar')
    
    .toolbar
      button
      p Playground
      
  p.note See also NestedRecyclerView and RecyclerView.
    
