section.containers
  h3 Containers
  
  .container
    h4 RadioGroup
    
    .radiogroup
      input(type='radio', name='radiogroup')
      p Realm
    .radiogroup
      input(type='radio', name='radiogroup')
      p Room
    .radiogroup
      input(type='radio', name='radiogroup')
      p SQLite
      
  .container
    h4 ListView
    
    .listview
      img(src='avatar-teal-1.png', width='24px', height='24px')
      p Ben Christensen
      
    .listview
      img(src='avatar-teal-2.png', width='24px', height='24px')
      p Donn Felker
      
    .listview
      img(src='avatar-teal-3.png', width='24px', height='24px')
      p Dan Lew
