section.dates
  h3 Date &#38; Time
  
  .date
    h4 TimePicker
    
    .timepicker
      .circle
      .noon
      .three
      .six
      .nine
      .hand
      .selected

  .date
    h4 DatePicker
    
    .datepicker
      p.up &#8593;
      p.picker 12017
      p.down &#8595;
      
  .date
    h4 CalendarView
    
    table.calendarview
      thead
        tr
          th M
          th T
          th W
          th T
      tbody
        tr
          td 
          td 1
          td 2
          td 3
        tr
          td 4
          td 5
          td.selected 6
          td 7
        tr
          td 8
          td 9
          td 10
          td 11
      
  .date
    h4 Chronometer
    
    .chronometer
      p 5'14
      
  .date
    h4 TextClock
    
    p.textclock 18:26 (Paris, Brussels, Madrid)
