section.dates
  h3 Date &#38; Time
  
  .date
    h4 TimePicker
    
    .timepicker
      .circle
      .noon
      .three
      .six
      .nine
      .hand

  .date
    h4 DatePicker //TODO add cursor pointer
    
    .datepicker
      p.up &#8593;
      p.picker 2017
      p.down &#8595;
