section.dates
  h3 Date &#38; Time
  
  .date
    h4 TimePicker
    
    .timepicker
      .circle
      .noon
      .three
      .six
      .nine
      .hand
      .selected

  .date
    h4 DatePicker
    
    .datepicker
      p.up &#8593;
      p.picker 12017
      p.down &#8595;
      
  .date
    h4 Chronometer
    
    .chronometer
      p 5'14
      
  .date
    h4 TextClock
    
    p.textclock 18:26
