doctype
html
  head
    title Tiramisu

    meta(charset = 'utf-8')
    meta(content = 'IE=edge;chrome=1', "http-equiv"= 'X-UA-Compatible')
    meta(name='viewport', content = 'width=device-width, initial-scale=1')
    meta(name='description', content = "")
    meta(name='keywords', content = "")

    link(href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Comfortaa", rel="stylesheet")
    link(rel='stylesheet', type='text/css', href= 'all.css')
  body
      header
        h1 Tiramisu.
        
        h2 Complete list of Android SDK UI components.
        
        p
          | A component is missing? 
          a(href='https://github.com/acadet/tiramisu/issues') Feel free to request it.
          |  
          | Or even better – 
          a(href='https://github.com/acadet/tiramisu/pulls') Add it yourself :)
          
      include widgets
    
      include text_fields
      
      include layouts
      
      include containers
      
      include media
    
      include dates
      
      include transitions
