section.layouts
  h3 Layouts
  
  .layout
    h4 CoordinatorLayout
    .coordinatorlayout
      .element
      .element
      .element
  
  .layout
    h4 GridLayout
    .gridlayout
      .element
      .element
      .element
      .element
    
  .layout    
    h4 FrameLayout
    .framelayout
      .element
      .element
  
  .layout
    h4 LinearLayout
    .linearlayout
      .element
      .element
      .element
      .element
  
  .layout
    h4 RelativeLayout
    .relativelayout
      .element
      .element
      .element
      .element
        
  .layout
    h4 TableLayout
    .tablelayout
      .element
      .element
      .element
      .element
      .element
      .element
        
  .layout
    h4 TableRow
    .tablerow
      .element
      .element
      .element
      .element
      .element
      .element
        
  .layout
    h4 ConstraintLayout
    .constraintlayout
      .element
      .element
      .element
      .element
      .element
        
  .layout
    h4 AppBarLayout
    
  .layout 
    h4 TabLayout
    
  .layout
    h4 CardView
    
    .cardview
      .inner-content
