section.layouts
  h3 Layouts
  
  .coordinatorlayout
    h4 CoordinatorLayout
    .grid
      .element
      .element
      .element
  
  .gridlayout
    h4 GridLayout
    .grid
      .element
      .element
      .element
      .element
    
  .framelayout    
    h4 FrameLayout
    .grid
      .element
      .element
  
  .linearlayout
    h4 LinearLayout
    .grid
      .element
      .element
      .element
      .element
  
  .relativelayout
    h4 RelativeLayout
    .grid
      .element
      .element
      .element
      .element
        
  .tablelayout
    h4 TableLayout
    .grid
      .element
      .element
      .element
      .element
      .element
      .element
        
  .tablerow
    h4 TableRow
    .grid
      .element
      .element
      .element
      .element
      .element
      .element
