section.layouts
  h3 Layouts
  
  .layout
    +support_card_header('CoordinatorLayout')
    .coordinatorlayout
      .element
      .element
      .element
  
  .layout
    +card_header('GridLayout')
    .gridlayout
      .element
      .element
      .element
      .element
    
  .layout    
    +card_header('FrameLayout')
    .framelayout
      .element
      .element
  
  .layout
    +card_header('LinearLayout')
    .linearlayout
      .element
      .element
      .element
      .element
  
  .layout
    +card_header('RelativeLayout')
    
    .relativelayout
      .element
      .element
      .element
      .element
        
  .layout
    +card_header('TableLayout')
    .tablelayout
      .element
      .element
      .element
      .element
      .element
      .element
        
  .layout
    +card_header('TableRow')
    .tablerow
      .element
      .element
      .element
      .element
      .element
      .element
        
  .layout
    h4
      a(href='https://developer.android.com/reference/android/support/constraint/ConstraintLayout.html', target='_blank') ConstraintLayout
    
    .constraintlayout
      .element
      .element
      .element
      .element
      .element
        
  .layout
    +support_card_header('AppBarLayout')
    
    .appbarlayout
      .element
      .element
      .element
      .element
    
  .layout 
    +support_card_header('TabLayout')
      
    .tablayout
      input(type='radio', name='tablayout')
      input(type='radio', name='tablayout', checked)
      input(type='radio', name='tablayout')
    
  .layout 
    +support_card_header('TabItem')
      
    .tablayout
      input(type='radio', name='tabitem', checked)
    
  .layout
    h4
      a(href='https://developer.android.com/reference/android/support/v7/widget/CardView.html', target='_blank') CardView
    
    .cardview
      .inner-content
