section.layouts
  h3 Layouts
  
  .gridlayout
    h4 GridLayout
    .grid
      .element
      .element
      .element
      .element
    
  .framelayout    
    h4 FrameLayout
    .grid
      .element
      .element
  
  .linearlayout
    h4 LinearLayout
    .grid
      .element
      .element
      .element
      .element
