section.media-section
  h3 Media
  
  .media
    h4 ImageButton
    button.imagebutton
      
  .media
    h4 ImageView
    img.imageview(src='image.png', width='48px', height='48px')
          
  .media
    h4 VideoView
    img.videoview(src='video.png', width='48px', height='48px')
      
  .media
    h4 FloatingActionButton
    
    .floatingactionbutton
      p Hope
      .button
        .shape
