section.media-section
  h3 Media
  
  .media
    +card_header('ImageButton')
    
    button.imagebutton
      
  .media
    +card_header('ImageView')
    
    img.imageview(src='image.png', width='48px', height='48px')
          
  .media
    +card_header('VideoView')
    
    img.videoview(src='video.png', width='48px', height='48px')
      
  .media
    +support_card_header('FloatingActionButton')
    
    .floatingactionbutton
      p Hope
      .button
        .shape
