mixin card_header(name)
  h4 
    a(href='https://developer.android.com/reference/android/widget/' + name + '.html', target='_blank') #{name}
    
mixin support_card_header(name)
  h4 
    a(href='https://developer.android.com/reference/android/support/design/widget/' + name + '.html', target='_blank') #{name}
