section.textfields   
  h3 Text Fields (EditText)
  
  .field
    h4 Plain Text
    input(type='text', value='John Doe')
      
  .field
    h4 Password
    input(type='password', value='password')
      
  .field
    h4 Numeric Password
    input(type='password', inputmode='numeric', pattern='[0-9]*', value='12345')
      
  .field
    h4 Email
    input(type='email', value='jake@square.io')
          
  .field
    h4 Phone
    input(type='tel', value='123-456-7890')
      
  .field
    h4 Postal Address
    input(type='text', value='45 Wall St')
      
  .field
    h4 Multiline Text
    textarea Some cause happiness wherever they go; others whenever they go.

  .field
    h4 Time
    input(type='time', value='11:11')
  
  .field
    h4 Date
    input(type='date', value='2012-12-21')
            
  .field
    h4 Number (Signed)
    input(type='number', value='314')
      
  .field
    h4 Number (Decimal)
    input(type='number', value='3.14')
      
  .field
    h4 AutoCompleteTextView
    datalist#fruits
      option(value='Apple')
      option(value='Banana')
      option(value='Orange')
      option(value='Raspberry')
      option(value='Tomato')
    input(type='text', placeholder='Fruit', list='fruits')
      
  .field
    h4 MultiAutoCompleteTextView
    datalist#emails
      option(value='foo@gmail.outlook')
      option(value='bar@yahoo.aol')
      option(value='foobar@live.bob')
    input(type='email', placeholder='Email', list='emails', multiple)
