section.transitions
  h3 Transitions
  
  .transition
    h4 ImageSwitcher
    
    .imageswitcher
      .triangle
      .circle
        
  .transition
    h4 AdapterViewFlipper
    
    .adapterviewflipper
      .element
      .element
      .element
      
