section.transitions
  h3 Transitions
  
  .transition
    h4 ImageSwitcher
    
    .imageswitcher
      .triangle
      .circle
        
  .transition
    h4 AdapterViewFlipper
    
    .adapterviewflipper
      p Hello
      p ¡Hola!
        
  .transition
    h4 StackView
    
    .stackview
      .element
      .element
      .element
        
  .transition
    h4 TextSwitcher
    
    .textswitcher
      p Hello
      p ¡Hola!
      
