section.transitions
  h3 Transitions
  
  .transition
    +card_header('ImageSwitcher')
    
    .imageswitcher
      .triangle
      .circle
        
  .transition
    +card_header('AdapterViewFlipper')
    
    .adapterviewflipper
      .layout
        .element
        .element
        .element
      .layout
        .element
        .element
        
  .transition
    +card_header('StackView')
    
    .stackview
      .element
      .element
      .element
        
  .transition
    +card_header('TextSwitcher')
    
    .textswitcher
      p Hello!
      p ¡Hola!
      
  p.note See also ViewAnimator, ViewFlipper and ViewSwitcher.
      
