section.widgets   
  h3 Widgets
       
  .widget
    +card_header('TextView')
    p.textview Cupcake Ipsum Dolor Sit Amet

  .widget
    +card_header('Button')
    button.button Click me
  
  .widget
    +card_header('ToggleButton')
    input.togglebutton(type="checkbox")
  
  .widget
    +card_header('CheckBox')
    input.checkbox(type="checkbox")
  
  .widget
    +card_header('RadioButton')
    input.radiobutton(type="checkbox")
  
  .widget
    +card_header('CheckedTextView')
    form.checkedtextview
      label(for="checkbox") Buy Chocolate
      input.checkbox(label="checkbox", type="checkbox")
        
  .widget
    +card_header('Spinner')
    select.spinner
      option Marshmallow
      option Nougat
      option Oreo
      
  .widget
    +card_header('ProgressBar')
    .progressbar
      
  .widget
    +card_header('SeekBar')
    input.seekbar(type='range', min=1, max=10, step=1)
      
  .widget
    +card_header('QuickContactBadge')
    .quickcontactbadge
      img(src='avatar-blue.png', width='24px', height='24px')
      p Anthony Kiedis

  .widget
    +card_header('RatingBar')
    p.ratingbar 
      span 
        span &#9734;
        span 
          span &#9734;
          span 
            span &#9734;
            
  .widget
    +card_header('Switch')
    input.switch(type="checkbox")
      
  .widget
    +card_header('Space')
    .space
