section.widgets   
  h3 Widgets
       
  .widget
    h4 TextView
    p.textview Cupcake Ipsum Dolor Sit Amet

  .widget
    h4 Button
    p.button Click me
  
  .widget
    h4 ToggleButton
    input.togglebutton(type="checkbox")
  
  .widget
    h4 CheckBox
    input.checkbox(type="checkbox")
  
  .widget
    h4 RadioButton
    input.radiobutton(type="checkbox")
  
  .widget
    h4 CheckedTextView
    form.checkedtextview
      label(for="checkbox") Buy Chocolate
      input.checkbox(label="checkbox", type="checkbox")
        
  .widget
    h4 Spinner
    select.spinner
      option Android
      option iOS
      option Microsoft Phone
